<% title "Modificar Usuario" %>

<h1>Modificar usuario</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Formulario Invalido</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :username, "Nombre de Usuario" %><br/>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirme Password" %><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :isadmin, "Usuario Administrador" %><br/>
    <%= f.check_box :isadmin %>
  </p>
  <p class="button"><%= f.submit "Enviar" %></p>
<% end %>
