<table>
  <tr>
    <th>Nombre de Usuario</th>
    <th>Ejemplar</th>
    <th>Titulo</th>
    <th>Activado</th>
    <th>Fecha de reserva</th>
    <th>Fecha de entrega</th>
    <th>Fecha de devolución</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.user.username %></td>
    <td><%= request.copy.code %></td>
    <td><%= request.copy.book.title %></td>
    <td><%= request.activated %></td>
    <td><%= request.request_date %></td>
    <td><%= request.delivery_date %></td>
    <td><%= request.return_date %></td>
    <td><%= link_to 'Mostrar', request %></td>
    <td><%= link_to 'Editar', edit_request_path(request) %></td>
    <td><%= link_to 'Eliminar', request, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Prestamo', new_request_path %> | <%= link_to "Pagina Principal", books_path %>

