<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @request.user.username %>
</p>

<p>
  <b>Copy:</b>
  <%= @request.copy_id %>
</p>

<p>
  <b>Titulo:</b>
  <%= @request.copy.book.title %>
</p>

<p>
  <b>Activo:</b>
  <%= @request.activated %>
</p>

<p>
  <b>Fecha de Solicitud:</b>
  <%= @request.request_date %>
</p>

<p>
  <b>Fecha de Entrega:</b>
  <%= @request.delivery_date %>
</p>

<p>
  <b>Fecha de devolucion:</b>
  <%= @request.return_date %>
</p>


<%= link_to 'Editar', edit_request_path(@request) %> |
<%= link_to 'Regresar', requests_path %> |
<%= link_to 'Página Principal', books_path %>
