<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @request.user_id %>
</p>

<p>
  <b>Copy:</b>
  <%= @request.copy_id %>
</p>

<p>
  <b>Activated:</b>
  <%= @request.activated %>
</p>

<p>
  <b>Request date:</b>
  <%= @request.request_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @request.delivery_date %>
</p>

<p>
  <b>Return date:</b>
  <%= @request.return_date %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
